<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- 导入Bootstrap5 -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- 导入Vue -->
    <script src="../static/js/vue.js"></script>
    <!-- 导入博客内容 -->
    <script src="../static/js/blogs.data.js"></script>
    <!-- 导入轮播图内容 -->
    <script src="../static/js/fader.data.js"></script>
    <!-- 导入站长统计 -->
    <script src="../static/js/getClientInfo.js"></script>

    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
    <!-- Slides -->
    <div id="slides" class="container">
        <!-- 录播图父元素 -->
        <ul class="fader" @mouseover="movein" @mouseout="moveout">
            <!-- 这里使用JQ添加每一幻灯片的图 -->
            <li :class={slide:1,active:i==index} v-for="(slide, i) in slides">
                <a href="#">
                    <img :src="['../static/images/'+ slide.img_url]" alt="">
                    <span class="img_info">{{ slide.img_info }}</span>
                </a>
            </li>

            <!-- 轮播图的控制元素 -->
            <li class="fader_controls">
                <!-- 左右箭头 -->
                <div class="page prev" data-target="prev" @click="prev">&lt;</div>
                <div class="page next" data-target="next" @click="next">&gt;</div>
                <!-- 轮播图小圆点页标 -->
                <ul class="pager_list">
                    <li :class={active:i==index} v-for="(dot, i) in slides" @click=jump(i)></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Articles -->
    <div id="article-card" class="container">
        <h1>最新文章</h1>


        <!-- 手机显示为1列，平板显示为2列，电脑显示为3列 -->
        <div class="row gx-5 gy-5">
            <div class="col-sm-12 col-md-6 col-lg-4" v-for="article in articles">
                <div class="card-article card">
                    <div class="card-img-shell">
                        <img :src="['../static/images/'+article.blogpic]" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-heading">{{ article.blogtitle }}</p>
                        <p>{{ article.blogtext }}</p>
                        <button type="button" class="btn btn-outline-primary">阅读更多</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu">
        <div :class={menu_whole:1,menu_ready:menuReady,menu_popped:menuPopped}>
            <div class="menu">
                <ul class="menu_list">
                    <li class="menu_item menu_item_active">首页</li>
                    <li class="menu_item">文章</li>
                    <li class="menu_item">项目</li>
                    <li class="menu_item">关于我</li>
                    <li class="menu_item">联系我</li>
                </ul>
            </div>
            <div class="menu_icon" @click="popMenu"></div>
        </div>
        
    </div>

    <script>
        var menu = new Vue({
            el: "#menu",
            data: {
                menuReady:0,
                menuPopped:0,
            },
            methods: {
                popMenu:function(){
                    this.menuPopped = !this.menuPopped;
                }
            }
        })

        var menuOnload = setTimeout(function(){
            menu.menuReady = 1;
        },1000)

        /******************** 轮播图应用 ********************/
        var fader = new Vue({
            el: "#slides",
            data: {
                slides: faderData,
                index: 0,
            },
            methods: {
                prev: function () {
                    if (this.index == 0) {
                        this.index = this.slides.length - 1;
                    }
                    else {
                        this.index -= 1;
                    }
                },
                next: function () {
                    if (this.index >= this.slides.length - 1) {
                        this.index = 0;
                    }
                    else {
                        this.index += 1;
                    }
                },
                jump: function (i) {
                    this.index = i;
                },
                // 鼠标移入轮播图，自动播放暂停
                movein() {
                    clearInterval(window.slideTimer);
                },

                // 鼠标移出轮播图，自动播放重新开始
                moveout() {
                    slideTimer = setInterval(this.next, 1500);
                }
            }
        })

        // 实现轮播图的自动播放
        var slideTimer = setInterval(this.fader.next, 1500);


        /******************** 博客文章卡片应用 ********************/

        var blogs = new Vue({
            el: "#article-card",
            data: {
                // 初始只加载头3条博客内容
                articles: blogData.slice(0, 6),
            }
        })

        // 实现页面的滚动加载，页面接近底端则继续加载5条博客内容
        document.onscroll = function () {
            var scrollTop = document.documentElement.scrollTop
            var windowHeight = document.documentElement.clientHeight
            var documentHeight = document.documentElement.scrollHeight
            // console.log(scrollTop, windowHeight, documentHeight)

            // 当滚动条接近页面最下端的时候
            if (documentHeight - scrollTop - windowHeight <= 200) {
                console.log("快到底了")
                // 获取后面 6 条数据
                // 页面中如果有3条数据,取slice(3,8)
                // 如果页面中有n条数据,取slice(n,n+5)

                var size = blogs.articles.length;
                var canLoad = true;

                if (canLoad) {
                    var data = blogData.slice(0, size + 6);
                    if (data.length > 0) {
                        blogs.articles = data;
                    }
                    else {
                        console.log("没数据了");
                        canLoad = false;
                    }
                }
            }
        }
    </script>

    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>